extends layout

block content
    h1 They should have&nbsp;
        input#main-input(type='text' placeholder='this')

    div#post-list
        div.single-post
            h2 A website called "they should have this"
            div.icon.exists-icon 3
            div.icon.solution-icon 4
            div.icon.comment-icon 7

        div.single-post
            h2 Headhpones that don't get tangled
            div.icon.exists-icon 6
            div.icon.solution-icon 2
            div.icon.comment-icon 1

        div.single-post
            h2 A skype that actually exits
            div.icon.exists-icon 0
            div.icon.solution-icon 5
            div.icon.comment-icon 8
