doctype html
head
    title=title
    link(rel='stylesheet' type='text/css' href='/styles/global.css')
    link(rel='icon' type='image/png' href='/images/favicon.png')
    script(src='/libs/jquery.min.js')
    script(src='/libs/react.js')
    script(src='/libs/JSXTransformer.js')
body
    div#current-user=currentUser
    script(type='text/javascript').
        var currentUserId = $('#current-user').html();
    block content
