doctype html
head
    title=title
    link(rel='stylesheet' type='text/css' href='styles/global.css')
    script(src='libs/react.min.js')
    script(src='libs/JSXTransformer.js')
body
    block content
