body {
  font-family: helvetica;
  font-family: 'Lato-Regular';
  text-align: center;
  background: url("/images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1,
h1 input {
  font-family: Grandstander;
  font-size: 36px;
}
h1 input {
  width: 100px;
  height: 50px;
  line-height: 50px;
}
form input,
form textarea {
  display: block;
  margin: 5px auto;
  width: 150px;
  height: 30px;
  font-size: 24px;
}
.login-form,
.signup-form {
  font-family: 'Lato-Regular';
  font-size: 24px;
  position: absolute;
  width: 50%;
}
.login-form {
  right: 0;
}
.signup-form {
  left: 0;
}
.icon {
  height: 20px;
  width: 20px;
  background-color: #008000;
  display: inline-block;
}
@font-face {
  font-family: 'Grandstander';
  src: url("/fonts/Grandstander-clean.ttf");
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("/fonts/Lato-Regular.ttf");
}
#auth-modal,
#new-post-modal {
  top: 50px;
  bottom: 50px;
  overflow: scroll;
  position: absolute;
  left: 200px;
  right: 200px;
  padding: 10px;
  display: none;
  background-color: #fff;
  z-index: 1;
}
#auth-modal-backdrop,
#new-post-modal-backdrop {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
#auth-modal {
  z-index: 3;
}
#auth-modal-backdrop {
  z-index: 2;
}
#current-user,
#current-post {
  display: none;
}
.post-list-item {
  padding-top: 5px;
  position: relative;
  text-decoration: none;
  color: #000;
  width: 500px;
  min-height: 100px;
  display: block;
  background: linear-gradient(30deg, #05aa8b, #9bddd0);
  margin: 10px auto;
  z-index: 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  color: #fff;
}
.single-post {
  padding-top: 5px;
  position: relative;
  text-decoration: none;
  color: #000;
  width: 500px;
  min-height: 100px;
  display: block;
  background: linear-gradient(30deg, #05aa8b, #9bddd0);
  margin: 10px auto;
  z-index: 0;
  border-style: solid;
  border-width: 2px 2px 1px 2px;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 0px;
}
.votes {
  top: 15px;
  left: 15px;
  position: absolute;
}
.votes.upvoted .upvote {
  background-image: url("/images/upvote_colored.png");
}
.votes.downvoted .downvote {
  background-image: url("/images/downvote_colored.png");
}
.votes .upvote {
  background-image: url("/images/upvote_bw.png");
}
.votes .downvote {
  background-image: url("/images/downvote_bw.png");
}
.votes .upvote,
.votes .downvote {
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 15px;
}
.desc-panel {
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 496px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px 2px 2px 2px;
  border-radius: 0px 0px 8px 8px;
  border-color: #fff #808080 #808080;
  position: relative;
  font-size: 22px;
}
.give-me-padding {
  padding: 7px;
  height: 20px;
  margin-bottom: 0;
  margin-left: 15px;
}
#logo-auth-modal {
  text-align: center;
  font-family: 'Lato-Regular';
  font-size: 24px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#logo-auth-modal-img {
  width: 60px;
  display: inline-block;
  margin-top: 20px;
}
button,
input,
form textarea {
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 3px;
}
#signup-submit-button,
#login-submit-button {
  width: 157px;
  height: 50px;
}
form#post-idea {
  display: inline-block;
}
input#main-input {
  float: left;
}
input#main-input {
  vertical-align: top;
  margin-left: 5px;
  width: 300px;
  height: 40px;
  padding-left: 8px;
}
input#submit-button-post-idea {
  font-family: 'Lato-Regular';
  vertical-align: top;
  margin-left: 5px;
  width: 46px;
  height: 46px;
  line-height: 20px;
  border-radius: 23px;
}
div#new-post {
  margin-bottom: 30px;
}
span#main-title {
  height: 50px;
  margin-bottom: 15px;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 15px;
  background: -webkit-gradient(linear, left top, right bottom, from(#43a629), to(#d2f5ca));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
img#main-logo {
  width: 50px;
  display: inline-block;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: #000;
}
.comment-icons {
  display: inline-block;
  background-color: #dcdcdc;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
.comment-icons div {
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.comment-icons .comments {
  background-image: url("/images/comment_bw.png");
  width: 30px;
  display: inline-block;
}
.comment-icons .comments.selected {
  background-image: url("/images/comment_colored.png");
}
.comment-icons .they-have {
  background-image: url("/images/checkmark_bw.png");
  width: 30px;
  display: inline-block;
}
.comment-icons .they-have.selected {
  background-image: url("/images/checkmark_colored.png");
}
.comment-icons .can-make {
  background-image: url("/images/exclamation_bw.png");
  width: 16px;
  display: inline-block;
}
.comment-icons .can-make.selected {
  background-image: url("/images/exclamation_colored.png");
}
#logged-in-as {
  font-size: 18px;
}
#login-wrapper,
#loggedin-wrapper {
  width: 100%;
}
#log-elements-wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#elements-wrapper {
  text-align: right;
}
#align-center {
  text-align: center;
}
.idea-wrapper {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}
.invisible-spacer {
  display: inline-block;
  width: 54px;
  height: 92px;
}
.display-inline-block {
  display: inline-block;
}
.idea-wrapper-wrapper {
  vertical-align: top;
  padding-top: 5px;
  padding-left: 5px;
  width: 420px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
h2 {
  padding-top: 7px;
  font-family: 'Grandstander';
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}
.idea-desc {
  font-size: 18px;
  color: #fff;
}
.icons-wrapper {
  background-color: rgba(255,255,255,0.6);
  border-radius: 4px 4px 0px 0px;
  position: absolute;
  bottom: 0;
  z-index: 1.5;
  margin-left: 27%;
  height: 22px;
  padding: 5px;
}
.little-icon.comm {
  width: 22px;
}
.little-icon.check {
  width: 22px;
}
.little-icon.excla {
  width: 12px;
}
.comment-count {
  font-family: 'Grandstander';
  font-size: 17px;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.comment-count-single {
  display: inline-block;
  font-family: 'Grandstander';
  font-size: 22px;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  vertical-align: top;
  padding-top: 5px;
}
.username-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 1.5;
  height: 22px;
  padding-top: 15px;
  padding-left: 0px;
  font-family: 'Grandstander';
  font-size: 12px;
  color: #fff;
}
.username-wrapper-comment {
  position: absolute;
  bottom: 0;
  z-index: 1.5;
  height: 22px;
  padding-top: 15px;
  padding-left: 10px;
  font-family: 'Grandstander';
  font-size: 12px;
  color: #fff;
}
.username-wrapper-single {
  position: absolute;
  bottom: 0;
  z-index: 1.5;
  height: 22px;
  padding-top: 15px;
  padding-left: 0px;
  font-family: 'Grandstander';
  font-size: 14px;
  margin-left: 10px;
}
.make-me-black {
  color: #000;
}
.make-me-white {
  color: #fff;
}
.category-wrapper,
.link-wrapper-comment {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1.5;
  height: 22px;
  padding-top: 15px;
  padding-left: 0px;
  font-family: 'Grandstander';
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
}
.category-wrapper-single {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1.5;
  height: 22px;
  padding-top: 15px;
  padding-left: 0px;
  font-family: 'Grandstander';
  font-size: 14px;
  margin-right: 10px;
}
.desc-footer {
  position: relative;
  text-align: center;
  width: 100%;
}
.comment-text {
  width: 100%;
}
.comment-entire {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  color: #fff;
  border-radius: 8px;
  position: relative;
}
.comment-list-item.comment:nth-child(odd) .comment-entire {
  background-color: #7cdebd;
}
.comment-list-item.comment:nth-child(even) .comment-entire {
  background-color: #57a3de;
}
.comment-list-item.canMake:nth-child(odd) .comment-entire {
  background-color: #f2bf52;
}
.comment-list-item.canMake:nth-child(even) .comment-entire {
  background-color: #d69311;
}
.comment-list-item.theyHave:nth-child(odd) .comment-entire {
  background-color: #84d193;
}
.comment-list-item.theyHave:nth-child(even) .comment-entire {
  background-color: #47a340;
}
.comment-text {
  width: calc(100% - 16px);
  font-size: 22px;
  margin: 8px;
  text-align: left;
  min-height: 30px;
}
.comment-footer {
  width: 100%;
  display: inline-block;
}
.error {
  color: #fff;
  background-color: #f00;
}
.score {
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment-form {
  display: inline-block;
}
#comment-submit-button {
  display: inline-block;
  min-height: 40px;
  vertical-align: top;
  width: 40px;
  border-radius: 20px;
  margin-left: 5px;
}
#comment-textarea {
  width: 447px;
  display: inline-block;
  min-height: 85px;
}
#link-text-form {
  display: inline-block;
  width: 100%;
}
