body {
  font-family: helvetica;
}
h1,
h1 input {
  font-size: 36px;
}
h1 input {
  width: 100px;
  text-align: center;
}
.icon {
  height: 20px;
  width: 20px;
  background-color: #008000;
  display: inline-block;
}
